<div class="home__container">
    <app-card gameCover="../../../assets/bt-1.jpg" gameLabel="Exclusive" gamePrice="R$ 129,99" gameType="Digital PS4 e Windows"></app-card>

    <app-card gameCover="../../../assets/bt-4.jpg" gameLabel="Exclusive" gamePrice="R$ 149,99" gameType="Digital PS4"></app-card>

    <app-card gameCover="../../../assets/bt-5.jpg" gameLabel="Exclusive" gamePrice="R$ 349,99" gameType="Digital PS4 e Windows"></app-card>

    <app-card gameCover="../../../assets/bt-bad-company-2.jpg" gameLabel="Exclusive" gamePrice="R$ 89,99" gameType="Digital PS4"></app-card>

    <app-card gameCover="../../../assets/bt-hardline.jpg" gameLabel="Exclusive" gamePrice="R$ 79,99" gameType="Digital PS4"></app-card>

    <app-card gameCover="../../../assets/ac-cover.jpg" gameLabel="Exclusive" gamePrice="R$ 129,99" gameType="Digital PS4"></app-card>

    <app-card gameCover="../../../assets/go-ragnarok.jpg" gameLabel="Exclusive" gamePrice="R$ 349,99" gameType="Digital PS4 e Windows"></app-card>

    <app-card gameCover="../../../assets/tlous-2.png" gameLabel="Exclusive" gamePrice="R$ 329,99" gameType="Digital PS4 e Windows"></app-card>
</div>