<div class="container__big-card">
        <div class="big-card__photo">
            <img src="../../../assets/Trueno-AE86.png" alt="Default Image" height="350px">
        </div>

        <div class="big-card__title">
            <h1><a href="#">A lenda por trás do Toyota Corolla Sprinter Trueno (AE86)</a></h1>
        </div>

        <div class="big-card__description">
            <p>
                <a href="#">
                    Desvendando os segredos do 'Hachi-Roku' (ハチロク): Por que ele é um ícone incontestável dos entusiastas automobilísticos e permanece no panteão dos famosos JDM?
                </a>
            </p>
        </div>
</div>