<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            photoCover="../../../assets/Trueno-AE86.png" cardTitle="A lenda por trás do Toyota Corolla Sprinter Trueno (AE86)" cardDescription="Desvendando os segredos do 'Hachi-Roku' (ハチロク): Por que ele é um ícone incontestável dos entusiastas automobilísticos e permanece no panteão dos famosos JDM?"
        ></app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card 
            cardTitle="Explore a Fascinante Galeria de Carros na Franquia Initial D: Conheça todos os veículos que marcaram a série" photoCover="../../../assets/InitialD-cars.png"
        ></app-small-card>

        <app-small-card 
            cardTitle="Segredos e Curiosidades do Subaru WRX STi de Bunta Fujiwara em Initial D" photoCover="../../../assets/WRX-STi.png"
        ></app-small-card>

        <app-small-card 
            cardTitle="Legends of the Tofu Delivery: Os pilotos mais famosos da franquia Initial D" photoCover="../../../assets/InitialD-racers.png"
        ></app-small-card>
    </div>
</div>