<div class="container__menu-bar">
    <div class="menu-bar__logo">
        <a href="#">
            <img src="../../../assets/noizy-logo.png" alt="Noizy Tribe Logo" width="200px">
        </a>
    </div>
    <ul>
        <li><a href="https://www.linkedin.com/in/marcotsf/" target="_blank">LinkedIn</a></li>
        <li><span>•</span></li>
        <li><a href="https://github.com/MarcoTSF" target="_blank">GitHub</a></li>
        <li><span>•</span></li>
        <li><a href="https://www.twitch.tv/marcotsf_13" target="_blank">Twitch</a></li>
    </ul>
</div>